@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white-color {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.gradiant-color {
    background: linear-gradient(20deg, #F7E93F 15%, #FB09B4 30%, #9100F8 100%);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

section {
    width: 100%;
    background-color: #1A0B2E;
}

.section {
    width: 75%;
    margin: 0px auto;
    max-width: 1600px;
    /* border: 2px solid black; */
    padding-top: 24px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header {
    font-size: 3rem;
}

.navbar ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
}

.btn {
    padding: 12px 16px;
    color: white;
    background: linear-gradient(10deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.hamburger-menu {
    display: none;
}

.hero-container {
    /* background-color: #1A0B2E; */
    width: 100%;
    padding: 40px 20px;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    /* border: 2px solid red; */
    width: 38%;
    text-align: center;
    margin: 0px auto;
    padding: 101px 0px;
}

.mic-box {
    width: 25rem;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.1);
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0px auto 40px;
}

.hero-content h1 {
    font-size: 3.25rem;
    margin-bottom: 8px;
    font-weight: 900;
}

.hero-content p {
    color: gray;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.hero-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.snd-button {
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 10px 16px;
}

@media screen and (max-width: 576px) {
    .section {
        padding-top: 20px;
    }

    .nav-header {
        font-size: 2rem;
    }

    .navbar ul {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .hero-content {
        margin: 0px;
        width: 100%;
    }

    .mic-box {
        width: 12rem;
        height: 12rem;
    }

    .mic-box img {
        width: 3.5rem;
    }
}