@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white-color {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.gradiant-color {
    background: linear-gradient(20deg, #F7E93F 20%, #FB09B4 50%, #9100F8 100%);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.bg-color-2 {
    background-color: #1A0B2E;
    width: 100%;
    margin: 0px auto;
}

section {
    width: 100%;
}

.frst-section {
    border: 1px solid #8080801c;
}

.section {
    width: 75%;
    margin: 0px auto;
    max-width: 1600px;
    /* border: 2px solid black; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px;
}

.nav-header {
    font-size: 3rem;
}

.navbar ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 18px;
    border-radius: 2rem;
    /* border: 2px solid; */
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1.05rem;
    color: rgba(255, 255, 255, 0.561);
}

button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    padding: 12px 16px;
    color: white;
    overflow: hidden;
    background: linear-gradient(10deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn:hover,
.gradiant-color:hover {
    filter: hue-rotate(23deg);
    scale: 1.05;
}



.hamburger-menu {
    display: none;
}

.hero-container {
    /* background-color: #1A0B2E; */
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
}

.hero-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./assets/hero-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-content {
    /* border: 2px solid red; */
    width: 38%;
    text-align: center;
    margin: 0px auto;
    padding: 101px 0px;
    position: relative;
}

.new {
    position: relative;
    width: 52%;
    /* border: 2px solid red; */
    margin: 0px auto;
}

.mic-box {
    width: 21rem;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.1);
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0px auto 40px;
}

.mic-box img {
    width: 32%;
}

.hero-content h1 {
    font-size: 3.25rem;
    margin-bottom: 8px;
    font-weight: 900;
}

.hero-content p {
    color: gray;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.hero-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.snd-button {
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 10px 16px;
    transition: 0.3s;
}

.snd-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    scale: 1.05;

}


.about {
    padding: 100px 0px;
    background-color: #1A0B2E;
}


.about-container {
    margin: 0px auto;
    text-align: center;
    /* border: 2px solid; */
    width: 100%;
}

.about-container h1 {
    font-size: 3rem;
    margin-bottom: 6px;
}

.about-container p {
    line-height: 26px;
    font-size: 16px;
}

.width-1200 {
    max-width: 1200px;
    margin: 0px auto;
    width: 75%;
}

.hr {
    margin: 5rem 0rem 5rem;
    border: 1px solid #8080801c;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center
}

.flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.flex-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0px auto 32px;
    gap: 10px;
}

.flex span {
    color: #00FF88;
    font-size: 48px;
}

.card {
    padding: 30px 20px;
    border-radius: 1.5rem;
    transition: 0.3s;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card:hover {
    background: #ffffff29;
}

.card h1 {
    color: #00FF88;
    font-size: 48px;
    margin-bottom: 1rem;
}

.card p {
    font-size: 16px;
    line-height: 20px;
}

.trd-section {
    background-color: #230E3D;
    width: 100%;
    margin: 0px auto;
}

.trd-container {
    margin: 0px auto;
    width: 75%;
    max-width: 1600px;
    padding-top: 120px;
}

.feature-header {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.grid-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: "box-1 box-2 box-2"
        "box-1 box-3 box-3"
        "box-4 box-4 box-5";
    padding-bottom: 120px;

}

.grid-card {
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 0.3s;
}

.grid-card:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.grid-card h2 {
    font-size: 1.5rem;
    margin: 1.2rem 0px;
}

.grid-card p {
    font-size: 18px;
    line-height: 1.8rem;
}


.feature-episodes {
    text-align: center;
    font-size: 3rem;
    padding: 5rem 0;
}

.margin-auto {
    margin: 0px auto;
}

#w-74 {
    padding-bottom: 0px;
}

.w-75 {
    width: 75%;
    margin: 0px auto;
    padding-bottom: 120px;
}

.video-card {
    /* border: 2px solid red; */
    border-radius: 2rem;
    overflow: hidden;
    width: 35rem;
    height: 38rem;
    background-color: rgba(255, 255, 255, 0.03);
    transition: 0.3s;
}

.video-card:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.video-card iframe {
    border-radius: 2rem 2rem 0px 0px;
}

.video-header {
    font-size: 2rem;
    margin: 1rem 0px;

}

.video-p {
    font-size: 18px;
    line-height: 1.8rem;
    margin-bottom: 12px;
}

.video-timing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.padding-24px {
    padding: 24px;
}

.episode-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
}

.host-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    padding: 2.4rem;
    /* border: 2px solid red; */
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.03);
    transition: 0.3s;
}

.host-box .host-img {
    width: 25rem;
    overflow: hidden;
}

.host-box:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.host-info h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.host-info p {
    line-height: 24px;
    margin-bottom: 2rem;
}


.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-radius: 50%;
    padding: 20px;
    transition: 0.3s;
}

.social-icon-a {
    display: flex;
    color: white;
    font-weight: 600;
    text-decoration: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.social-icon a {
    margin-top: 5px;
}

.social-icon:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.10);
}

footer {
    position: relative;
    overflow: hidden;
    padding: 4rem 0rem 4rem;
}

footer::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./assets/footer-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.text-center {
    text-align: center;
    /* border: 2px solid red; */
    width: 50%;
    margin: 0px auto;
}

.text-center h1 {
    font-size: 6rem;
    margin-bottom: 32px;
}

.copy-right {
    color: rgb(154, 154, 154);
}

/* Animations */

.hero-upr-div {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    background-color: #00FF88;
    border-radius: 2rem;
    width: 75px;
    z-index: 10;
    padding: 8px 16px;
    box-shadow: 0px 0px 15px 2px rgba(0, 255, 136, 0.5);
    animation: updownLoop 2s infinite ease-in-out;
}

.hero-upr-div h6 {
    font-size: 18px;
    color: black;
    font-weight: 900;
}


@keyframes updownLoop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
        /* ৫-১০ পিক্সেল উপরে উঠবে */
    }

    100% {
        transform: translateY(0px);
        /* আবার আগের জায়গায় ফিরে আসবে */
    }
}

@media screen and (max-width: 576px) {
    .nav-header {
        font-size: 2rem;
    }

    .navbar ul {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .hero-content {
        margin: 0px;
        width: 100%;
    }

    .mic-box {
        width: 12rem;
        height: 12rem;
    }

    .mic-box img {
        width: 3.5rem;
    }

    .about {
        padding: 4rem 0px;
    }

    .width-1200 {
        width: 90%;
    }

    .card-box {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 5rem;
    }

    .card {
        text-align: center;
    }

    .card h1 {
        font-size: 40px;
    }

    .trd-container,
    .w-75 {
        width: 90%;
    }

    .grid-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 350px 450px 350px;
        grid-template-areas: "box-1"
            "box-2"
            "box-3"
            "box-4"
            "box-5"
    }

    .grid-card h2 {
        font-size: 22px;
    }

    .grid-card p {
        font-size: 16px;
        line-height: 1.8rem;
    }

    .episode-card {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .video-card {
        width: 100%;
        height: 40rem;
    }

    .padding-24px {
        padding: 0px 16px;
    }

    iframe {
        width: 100%;
        /* margin-top: 10px; */
    }

    .host-box {
        flex-direction: column;
    }

    .host-box .host-img {
        width: 10rem;
    }

    .host-name {
        text-align: center;
    }

    .flex {
        justify-content: center;
    }

    .text-center {
        width: 100%;
    }

    .text-center h1 {
        font-size: 3rem;
    }

    .flex-2 {
        flex-wrap: wrap;
    }

    .hero-upr-div {
        position: absolute;
        top: 0.2rem;
        right: 3.5rem;
        width: 60px;
        background-color: #00FF88;
        border-radius: 20px;
        z-index: 100;
        text-align: center;
    }

    .hero-upr-div h6 {
        font-size: 12px;
        margin: 5px 0;
        color: #000;
    }

    .new {
        width: 100%;
        margin-top: 3rem;
    }
}